.thumbnail {
    display: block;
    width: 300px;
    height: 125px;
}

.search-bar {
    display: block;
    margin-bottom: 15px;
}

.gallery {
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-right: 15px;
}

.art-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.artist-picture {
    display: inline-block;
    width: 50px;
    vertical-align: top;
    margin-bottom: 12px;
}

.art-info {
    display: inline-block;
    width: 200px;
}

.artist-image {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

.month, .year {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.month {
    margin-bottom: 4px;
}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}